body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: monospace;
}

.word {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.shake-animation {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(3px);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(-3px);
    }
    75% {
        transform: translateX(3px);
    }
}